.header {
	height: 200px;
	width: 100%;
	background-image: url("../img/bg/header-bg.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}